<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.song.dao.JohnBerDao">

	<select id="getChatId" parameterType="String" resultType="String">
		SELECT CHAT_ID 
		  FROM USER_INFO
		 WHERE CHAT_ID = #{chatId}
	</select>

	<insert id="regItem" parameterType="hashmap">
		INSERT INTO WISH_LIST(CHAT_ID, ITEM_NAME, ITEM_PRICE, URL) 
		VALUES(#{chatId}, #{itemName}, #{itemPrice}, #{url})
	</insert>
	
	<insert id="regUser" parameterType="String">
		INSERT INTO USER_INFO(CHAT_ID, REG_DATE) VALUES(#{chatId}, DATE_FORMAT(now(), '%Y%m%d'))
	</insert>
	
	<delete id="delUser" parameterType="String">
		DELETE FROM USER_INFO WHERE CHAT_ID = #{chatId}
	</delete>
	
	<select id="getPrice" parameterType="map" resultType="Integer">
		SELECT A.ITEM_PRICE
		  FROM WISH_LIST A
		 WHERE A.CHAT_ID = #{chatId}
		     AND A.ITEM_NAME = #{itemName} 
	</select>

	<select id="getWishListAll" resultType="hashmap">
		SELECT A.SEQ, A.CHAT_ID, A.ITEM_NAME, A.ITEM_PRICE, A.URL
		  FROM WISH_LIST A
	</select>

	<select id="getWishListCntByID" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		  FROM WISH_LIST A
	     WHERE A.CHAT_ID = #{chatId}
	</select>

	<select id="getWishListByID" parameterType="String" resultType="hashmap">
		SELECT A.SEQ, A.CHAT_ID, A.ITEM_NAME, A.ITEM_PRICE, A.URL
		  FROM WISH_LIST A
	    WHERE A.CHAT_ID = #{chatId}
	</select>

	<update id="updatePrice" parameterType="hashmap">
	   UPDATE WISH_LIST
		    SET ITEM_PRICE = #{itemPrice}
		WHERE CHAT_ID = #{chatId}
		    AND SEQ = #{seq}
	</update>
	
	<insert id="insertMsgLog" parameterType="hashmap">
	   INSERT INTO MSG_LOG(CHAT_ID, MSG_CODE, CONTENT, REG_DTIME)
	   VALUES(#{chatId}, #{msgCode}, #{content}, DATE_FORMAT(now(), '%Y%m%d%H%i%s'))
	</insert>
	
</mapper>